---
title: CV
---

<div class="cv">
  <div class="content">
    <header>
      <div class="header__primary">
        <h1>Daniel Wylie</h1>
        <h2>Software developer // Content creator</h2>
        <h3>Wellington, New Zealand</h3>
      </div>
      <div class="header__sub">
        <ul>
          <li>
            <a href="https://github.com/dwnz" target="_blank">Github</a>
            <a href="#" target="_blank">Download CV</a>
          </li>
        </ul>
      </div>
    </header>

    <section>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed congue purus, ut vestibulum nibh. Donec tellus
        quam, imperdiet euismod dui ut, feugiat placerat velit. Aenean in congue tellus. Suspendisse tempus condimentum
        elit, ut bibendum erat finibus a. Morbi ac sapien eget dui rutrum aliquet. Curabitur vitae nunc et mi bibendum
        rhoncus. Phasellus et quam sed libero posuere bibendum vel at lacus. Mauris velit purus, eleifend ac varius ut,
        ullamcorper eget tellus.
      </p>
      <p>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vitae ipsum
        et ex dapibus gravida vel id turpis. Nunc in blandit erat. Nulla nec ipsum quis mi tempor volutpat at ut ligula.
      </p>
    </section>
  </div>

  <section class="experience experience--hunchbuzz">
    <div class="content">
      <h4>HunchBuzz</h4>
      <h5>CTO, 2018 - 2022</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Praesent fringilla, sem eget gravida imperdiet, elit metus tempus dui, eu ornare ligula purus eu orci. Nulla
            tincidunt tristique dui, sed rutrum urna maximus eu. Nunc mattis odio sapien, eu interdum velit dictum
            vitae.
            Etiam urna enim, rhoncus in leo ac, vestibulum consectetur ex. Cras et ex mauris. Pellentesque rutrum mi et
            nulla pretium, ut vehicula lectus vehicula. Pellentesque nec dictum nibh, posuere tristique purus. Aliquam
            eu
            congue urna, mollis ornare mauris. Praesent at sem vulputate, tincidunt purus sit amet, tristique lorem.
          </p>
          <p>
            Vivamus ullamcorper justo tellus, et tincidunt est eleifend a. Nunc fermentum non leo vitae dignissim. Morbi
            ac mattis sem. Cras ornare luctus elit, at mattis nunc ornare rhoncus. Proin sem est, sagittis vel libero
            id,
            laoreet venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Nullam sit amet orci in nisi pharetra malesuada vitae et diam.
          </p>

          <p>
            <a class="btn" href="https://hunchbuzz.com/" target="_blank">HunchBuzz</a>
            <a class="btn" href="https://krunchapp.com/" target="_blank">krunch</a>
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Core C#</li>
            <li>PHP</li>
            <li>VueJS</li>
            <li>MySQL</li>
            <li>Neo4J</li>
            <li>AWS</li>
            <li>Azure</li>
            <li>CircleCI</li>
            <li>Stripe</li>
            <li>Swift</li>
            <li>Kotlin</li>
            <li>SASS</li>
            <li>Ubuntu</li>
            <li>NGINX</li>
            <li>Slack</li>
            <li>Teams</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--overlandnz">
    <div class="content">
      <h4>Overland NZ</h4>
      <h5>Founder, 2018 - Current</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Praesent fringilla, sem eget gravida imperdiet, elit metus tempus dui, eu ornare ligula purus eu orci. Nulla
            tincidunt tristique dui, sed rutrum urna maximus eu. Nunc mattis odio sapien, eu interdum velit dictum
            vitae.
            Etiam urna enim, rhoncus in leo ac, vestibulum consectetur ex. Cras et ex mauris. Pellentesque rutrum mi et
            nulla pretium, ut vehicula lectus vehicula. Pellentesque nec dictum nibh, posuere tristique purus. Aliquam
            eu
            congue urna, mollis ornare mauris. Praesent at sem vulputate, tincidunt purus sit amet, tristique lorem.
          </p>
          <p>
            Vivamus ullamcorper justo tellus, et tincidunt est eleifend a. Nunc fermentum non leo vitae dignissim. Morbi
            ac mattis sem. Cras ornare luctus elit, at mattis nunc ornare rhoncus. Proin sem est, sagittis vel libero
            id,
            laoreet venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Nullam sit amet orci in nisi pharetra malesuada vitae et diam.
          </p>

          <p>
            <a class="btn" href="https://overland.nz" target="_blank">Overland NZ</a>
            <a class="btn" href="https://navigator.overland.nz" target="_blank">Overland Navigator</a>
            <a class="btn" href="https://youtube.com/overlandnztv" target="_blank">Youtube</a>
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Core C#</li>
            <li>Postgres</li>
            <li>VueJS</li>
            <li>AWS</li>
            <li>CircleCI</li>
            <li>Swift</li>
            <li>Kotlin</li>
            <li>SASS</li>
            <li>Ubuntu</li>
            <li>NGINX</li>
            <li>Final Cut Pro</li>
            <li>Adobe Lightroom</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--shnappy">
    <div class="content">
      <h4>Shnappy</h4>
      <h5>Founder, 2014 - 2017</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Praesent fringilla, sem eget gravida imperdiet, elit metus tempus dui, eu ornare ligula purus eu orci. Nulla
            tincidunt tristique dui, sed rutrum urna maximus eu. Nunc mattis odio sapien, eu interdum velit dictum
            vitae.
            Etiam urna enim, rhoncus in leo ac, vestibulum consectetur ex. Cras et ex mauris. Pellentesque rutrum mi et
            nulla pretium, ut vehicula lectus vehicula. Pellentesque nec dictum nibh, posuere tristique purus. Aliquam
            eu
            congue urna, mollis ornare mauris. Praesent at sem vulputate, tincidunt purus sit amet, tristique lorem.
          </p>
          <p>
            Vivamus ullamcorper justo tellus, et tincidunt est eleifend a. Nunc fermentum non leo vitae dignissim. Morbi
            ac mattis sem. Cras ornare luctus elit, at mattis nunc ornare rhoncus. Proin sem est, sagittis vel libero
            id,
            laoreet venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Nullam sit amet orci in nisi pharetra malesuada vitae et diam.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Angular JS</li>
            <li>Azure</li>
            <li>CircleCI</li>
            <li>SASS</li>
            <li>Ubuntu</li>
            <li>NGINX</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--raygun">
    <div class="content">
      <h4>Raygun</h4>
      <h5>Senior software developer, 2015 - 2016</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Praesent fringilla, sem eget gravida imperdiet, elit metus tempus dui, eu ornare ligula purus eu orci. Nulla
            tincidunt tristique dui, sed rutrum urna maximus eu. Nunc mattis odio sapien, eu interdum velit dictum
            vitae.
            Etiam urna enim, rhoncus in leo ac, vestibulum consectetur ex. Cras et ex mauris. Pellentesque rutrum mi et
            nulla pretium, ut vehicula lectus vehicula. Pellentesque nec dictum nibh, posuere tristique purus. Aliquam
            eu
            congue urna, mollis ornare mauris. Praesent at sem vulputate, tincidunt purus sit amet, tristique lorem.
          </p>
          <p>
            Vivamus ullamcorper justo tellus, et tincidunt est eleifend a. Nunc fermentum non leo vitae dignissim. Morbi
            ac mattis sem. Cras ornare luctus elit, at mattis nunc ornare rhoncus. Proin sem est, sagittis vel libero
            id,
            laoreet venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Nullam sit amet orci in nisi pharetra malesuada vitae et diam.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Framework</li>
            <li>NodeJS</li>
            <li>MySQL</li>
            <li>Javascript</li>
            <li>Postgres</li>
            <li>RabbitMQ</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--nv">
    <div class="content">
      <h4>NV Interactive</h4>
      <h5>Technical Lead, 2013 - 2015</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Praesent fringilla, sem eget gravida imperdiet, elit metus tempus dui, eu ornare ligula purus eu orci. Nulla
            tincidunt tristique dui, sed rutrum urna maximus eu. Nunc mattis odio sapien, eu interdum velit dictum
            vitae.
            Etiam urna enim, rhoncus in leo ac, vestibulum consectetur ex. Cras et ex mauris. Pellentesque rutrum mi et
            nulla pretium, ut vehicula lectus vehicula. Pellentesque nec dictum nibh, posuere tristique purus. Aliquam
            eu
            congue urna, mollis ornare mauris. Praesent at sem vulputate, tincidunt purus sit amet, tristique lorem.
          </p>
          <p>
            Vivamus ullamcorper justo tellus, et tincidunt est eleifend a. Nunc fermentum non leo vitae dignissim. Morbi
            ac mattis sem. Cras ornare luctus elit, at mattis nunc ornare rhoncus. Proin sem est, sagittis vel libero
            id,
            laoreet venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Nullam sit amet orci in nisi pharetra malesuada vitae et diam.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Framework</li>
            <li>MSSQL</li>
            <li>Azure</li>
            <li>Umbraco</li>
            <li>KnockoutJS</li>
            <li>Windows Server</li>
            <li>IIS</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--xero">
    <div class="content">
      <h4>Xero</h4>
      <h5>Software developer, 2006 - 2013</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Praesent fringilla, sem eget gravida imperdiet, elit metus tempus dui, eu ornare ligula purus eu orci. Nulla
            tincidunt tristique dui, sed rutrum urna maximus eu. Nunc mattis odio sapien, eu interdum velit dictum
            vitae.
            Etiam urna enim, rhoncus in leo ac, vestibulum consectetur ex. Cras et ex mauris. Pellentesque rutrum mi et
            nulla pretium, ut vehicula lectus vehicula. Pellentesque nec dictum nibh, posuere tristique purus. Aliquam
            eu
            congue urna, mollis ornare mauris. Praesent at sem vulputate, tincidunt purus sit amet, tristique lorem.
          </p>
          <p>
            Vivamus ullamcorper justo tellus, et tincidunt est eleifend a. Nunc fermentum non leo vitae dignissim. Morbi
            ac mattis sem. Cras ornare luctus elit, at mattis nunc ornare rhoncus. Proin sem est, sagittis vel libero
            id,
            laoreet venenatis velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Nullam sit amet orci in nisi pharetra malesuada vitae et diam.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Framework</li>
            <li>MSSQL</li>
            <li>Azure</li>
            <li>Umbraco</li>
            <li>KnockoutJS</li>
            <li>Windows Server</li>
            <li>IIS</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>