---
title: CV
---

<div class="cv">
  <div class="content">
    <header>
      <div class="header__primary">
        <h1>Daniel Wylie</h1>
        <h2>Software developer // Content creator</h2>
        <h3>daniel@wylie.co.nz</h3>
        <h3>Wellington, New Zealand</h3>
      </div>
      <div class="header__sub">
        <ul>
          <li>
            <a href="https://github.com/dwnz" target="_blank">Github</a>
            <a href="/cv/DanielWylieCV.pdf" target="_blank">Download CV</a>
          </li>
        </ul>
      </div>
    </header>

    <section>
      <p>
        I was 10 when I asked my dad "How do you build programs?" He found a copy of VB6 For Kids for me and well, here
        we are. My entire teen and adult life has been spent playing around with technology and computers - from running
        my own Microsoft Exchange server when I was 13, launching my first product at 15 and having people use it
        to power their websites. I've been lucky enough to have the opportunities to explore a vast range of what makes
        the technology side of companies tick.
      </p>

      <p>
        A full stack developer, I love working my way through the entire development stack from database right up to
        web and mobile UIs. Anything that has a bit of scale, some sort of data processing and challenging problems gets
        my interest. I enjoy figuring out how stuff works - how to build something I've never done before and applying
        cool technology to come up with cool solutions. I enjoy big picture thinking and debates - I'm not scared to
        bring new ideas to the table or get dirty implementing said ideas. Being part of a social team where
        conversation is free flowing and encouraged is important to me to both create friendships and to have an
        enjoyable workspace.
      </p>

      <p>
        Outside of my day jobs I've always had side projects on the go, generally to play around with tech I've been
        interested in learning - as with most side projects, the majority of them don't see the light of day - but some
        ideas have crossed into successful implementations elsewhere. Being a fairly new dad I try to get away from the
        computer where possible and explore the world with my family heading out four-wheel driving, camping and
        teaching
        little dude about life.
      </p>

      <p>

      </p>
    </section>
  </div>

  <section class="experience experience--hunchbuzz">
    <div class="content">
      <h4>HunchBuzz</h4>
      <h5 class="role">CTO, 2018 - 2022</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Taking over as CTO in 2018, I inherited a fairly crude PHP old school application with one goal: modernise
            and grow the product.
          </p>

          <p>
            Working side by side with a junior developer we took on the task of modernising the application improving
            security, functionality and performance. Working with an external design consultant we refreshed the entire
            UI following modern SASS and BEM practices and building a UI component library for the entire app to use
            while still allowing for basic customer customisation.
          </p>

          <p>
            We started moving towards a PHP/.NET Core hybrid model to help improve system stability in critical areas,
            leveraging AWS infrastructure such as SQS to build out a backend processing engine which took care of all
            the
            heavy lifting and processed items that responded well to eventual consistency. As part of attracting a wider
            range of customers we published native apps to both the App Store and Play Store written in their native
            languages.
          </p>

          <p>
            The final major project I focused on was krunch - a simple version of the HunchBuzz product that integrated
            directly with Slack and Microsoft Teams and leveraged those platforms for authentication and user
            interaction. It is based on the existing HunchBuzz product with a new skin and has an easy upgrade path
            to the full product if the customer wishes to do so.
          </p>

          <p>
            My role at HunchBuzz had a wide focus - ranging from helping our junior developer progress his career,
            managing the AWS infrastructure, rolling out modern development and deployment practices, system
            architecture, front end development - pretty much everything from database to UI, idea to deployment.
          </p>

          <p>
            <a class="btn" href="https://hunchbuzz.com/" target="_blank">HunchBuzz</a>
            <a class="btn" href="https://krunchapp.com/" target="_blank">krunch</a>
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Core C#</li>
            <li>PHP</li>
            <li>VueJS</li>
            <li>MySQL</li>
            <li>Neo4J</li>
            <li>AWS</li>
            <li>Azure</li>
            <li>CircleCI</li>
            <li>Stripe</li>
            <li>Elastic Search</li>
            <li>Apple iOS (Swift)</li>
            <li>Android (Kotlin)</li>
            <li>Redis</li>
            <li>SASS</li>
            <li>Ubuntu</li>
            <li>Bash</li>
            <li>NGINX</li>
            <li>Slack</li>
            <li>Microsoft Teams</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--overlandnz">
    <div class="content">
      <h4>Overland NZ</h4>
      <h5 class="role">Founder, 2018 - Current</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Crossing my love of cars, photography, exploring and the outdoors with my tech skills, Overland NZ has grown
            from an idea to one of New Zealand's biggest fourwheel drive outlets - and one of the coolest side hustles I
            could ask for.
          </p>

          <p>
            I've honed my video production skills while producing content for Overland NZ - filming out in the field
            presents unique challenges, nothing is predictable.
          </p>

          <p>
            It gives me the chance to wear all the different hats - from managing sponsor relationships to planning out
            future content, customer support for Navigator and financials - if there's a job that needs doing I'll
            figure out how to do it.
          </p>

          <p>
            In 2019 we kicked off Overland Navigator - an overland companion app for iOS and Android. Powered by .NET
            Core on Ubuntu and Postgres behind the scenes, both apps are built in their respective native languages
            following guidelines set by Apple and Google. Seeing on average over 200 active users a day, it's New
            Zealand's most
            visited offroad focused maps application.
          </p>

          <p>
            <a class="btn" href="https://overland.nz" target="_blank">Overland NZ</a>
            <a class="btn" href="https://navigator.overland.nz" target="_blank">Overland Navigator</a>
            <a class="btn" href="https://youtube.com/overlandnztv" target="_blank">Youtube</a>
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Core C#</li>
            <li>Postgres</li>
            <li>VueJS</li>
            <li>AWS</li>
            <li>CircleCI</li>
            <li>Mapbox</li>
            <li>Spatial data</li>
            <li>Apple iOS (Swift)</li>
            <li>Android (Kotlin)</li>
            <li>SASS</li>
            <li>Ubuntu</li>
            <li>NGINX</li>
            <li>Final Cut Pro</li>
            <li>Adobe Lightroom</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--shnappy">
    <div class="content">
      <h4>Shnappy</h4>
      <h5 class="role">Founder, 2014 - 2017</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            Shnappy kicked off as a small side project to solve a problem I was having distributing my photos to
            clients,
            that there was no easy way to deliver large numbers of photos online - something I discovered after shooting
            a few different weddings for clients.
          </p>

          <p>
            Built in NodeJS with MongoDB sitting behind it, Shnappy ran on Microsoft Azure and heavily leveraged Dropbox
            as the storage mechanism customers would interact with. The process was fully automated from the customers
            side.
            All they had to do was upload photos to Dropbox - Shnappy would then take care of processing the images -
            creating thumbnails, watermarking them and getting them presentable in the client interface.
          </p>

          <p>
            Dealing with large photos being uploaded fairly quickly was an awesome challenge - most of the heavy lifting
            occurred outside the main web app in a backend worker which could scale up and down as required inside of
            Microsoft Azure.
          </p>

          <p>
            Despite being a side project, it was fully setup with continuous deployment, unit tests and Stripe
            integration
          </p>

          <p>
            In 2016 I embarked full time on Shnappy to see how far it would go - and to try wear all the different hats
            required to run a small business.
          </p>

          <p>
            <a class="btn" href="https://shnappy.com" target="_blank">Shnappy</a>
          </p>
          <p>
            (Marketing site is still running - app has been turned off, happy to demo)
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Angular JS</li>
            <li>Azure</li>
            <li>CircleCI</li>
            <li>SASS</li>
            <li>Ubuntu</li>
            <li>NGINX</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--raygun">
    <div class="content">
      <h4>Raygun</h4>
      <h5 class="role">Senior software developer, 2015 - 2016</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            My role at Raygun crossed full stack development with massive data processing, something that interests me
            hugely. I joined the Raygun team at a time of high growth and the interesting challenges that come with
            that.
          </p>
          <p>
            My core focus was on the error reporting application and the ingestion of data from our customers in the
            most efficient and cost-effective way we could achieve - and third party integrations with the various
            alerting systems we supported.
          </p>
          <p>
            I also spent a sizable chunk of time on customer support tickets with other developers helping them
            integrate their products with Raygun. Priding myself on being able to communicate clearly with both tech
            and non-tech people, it provided a nice variety during the day.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Framework</li>
            <li>NodeJS</li>
            <li>MySQL</li>
            <li>Javascript</li>
            <li>Postgres</li>
            <li>RabbitMQ</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--nv">
    <div class="content">
      <h4>NV Interactive</h4>
      <h5 class="role">Technical Lead, 2013 - 2015</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            I ran a small development team of three people - me, an intermediate developer and a junior developer
            focussing on building bespoke applications for clients. I was the face of the technology side when
            presenting and communicating with clients, which being an agency was common. Working with the likes of Air
            New Zealand, Family Planning and Environmental Protection Agency I got the chance to experience how
            organisations of different types operate when engaged with external development partners.
          </p>

          <p>
            During my time at NV I modernised their development practices, introducing GIT and continuous deployment
            and pushing for newer code standards and patterns to help new developers get up to speed quickly.
          </p>

          <p>
            The technical lead role allowed me to work closely with the other developers and help them grow and learn
            which was hugely rewarding and something I've tried to do ever since - my passion for helping new developers
            grew from my experience at NV.
          </p>

          <p>
            In 2017 I returned to NV for three-month contract to work on a virtual reality project for Time Inc.'s LIFE
            VR brand. Working with a VR speciality design agency in Auckland and the Microsoft VR team we built out the
            solution using Unity3D and the beta tools Microsoft were developing at the time. The challenge of beta
            hardware and libraries created for a challenging but interesting time which was highly rewarding.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Framework</li>
            <li>MSSQL</li>
            <li>Azure</li>
            <li>Umbraco</li>
            <li>KnockoutJS</li>
            <li>Windows Server</li>
            <li>IIS</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="experience experience--xero">
    <div class="content">
      <h4>Xero</h4>
      <h5 class="role">Software developer, 2006 - 2013</h5>

      <div class="experience__content">
        <div class="intro">
          <p>
            I started at Xero in 2006 while still at high school as their IT support person - building computers,
            getting developers setup and generally supporting the staff. After completing year 13 I started as a
            full time C# developer.
          </p>

          <p>
            Over my years there I worked on a wide range of projects from the core app, internal tooling and bank feed
            processing.
            The range of projects allowed me to work with a huge range of people who had vast experience in their areas.
          </p>
        </div>

        <div class="tech">
          <h5>Core tech</h5>
          <ul>
            <li>.NET Framework</li>
            <li>MSSQL</li>
            <li>Windows Server</li>
            <li>IIS</li>
            <li>Javascript</li>
            <li>Huge dataset processing</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>